<mat-toolbar color="primary">
  <button [routerLink]="'/'" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>home</mat-icon>
  </button>
  <span>Net_Test</span>
  <span class="example-spacer"></span>
  {{'UserName'}}
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>person</mat-icon>
    </button>
</mat-toolbar>

<div class="app-panel-container">
  <div class="container">
    <div class="row">
      <div *ngFor="let menu of menus" class="col-6 col-sm-4 col-md-3 col-lg-2 p-2">
        <mat-card [routerLink]="'/'+menu.ruta">
          <mat-icon>{{menu.icon}}</mat-icon>
          <p>{{menu.nombre}}</p>
        </mat-card>
      </div>
    </div>
  </div>
</div>